<h2><%= t('.sign_in') %></h2>

<%= form_for(@session) do |f| %>

  <div class="field">
    <%= error_message(@session, :email) %>
    <%= f.label :email, t('.email') %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= error_message(@session, :password) %>
    <%= f.label :password, t('.password') %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.submit t('.sign_in') %>
  </div>

  <div>
    <%= link_to t('.dont_have_an_account'), new_user_path %>
  </div>

<% end %>

