<div class="inner">
  <section class="light borders bottom">
    <header>
      <h1 class="left"><%= link_to t('title_for_html'), "/" %></h1>
      <nav class="right">
        <%= link_to t('header.home'),           "#", :class => 'upper bold small' %>
        <%= link_to t('header.organizations'),  "#", :class => 'upper bold small' %>
        <%= link_to t('header.blog'),           "#", :class => 'upper bold small' %>
        <%= link_to t('header.about'),          "#", :class => 'upper bold small' %>
        <span class="round grey">
          <%= link_to current_user.name,        "#profile", :class => 'upper bold small' %>
          <%= button_to "remove",                 session_path(current_user), :method => :delete, :class => '' %>
        </span>

      </nav>
    </header>
  </section>
</div>
