<%= javascript_include_tag :edit_users if request.xhr? %>

<div class="form_inner edit_user">
  <section>
    <div>
      <h3 class="center upper"><span class="title_line"></span><%= t('.profile') %><span class="title_line"></span></h3>
    </div>
  </section>

  <section class="header borders">
    <div class="center">
      <%= link_to t('.account_data'), "#account_data", :class => "selected button round white account_data uppercase" %>
      <%= link_to t('.organization_data'), "#organization_data", :class => "button round white organization_data uppercase" %>
    </div>
  </section>

  <section class="edit_user_forms">
    <div class="form_wrapper">
      <%= form_for(@user) do |f| %>
        <div class="user">
          <div class="name field">
            <%= error_message(@user, :name) %>
            <%= f.label :name, t('.name') %>
            <%= f.text_field :name, :autofocus => true, :class => "med" %>
          </div>

          <div class="email field margin25">
            <%= error_message(@user, :email) %>
            <%= f.label :email, t('.email') %>
            <%= f.email_field :email, :class => "med" %>
          </div>

          <div class="password field margin margin25">
            <%= f.label :password, t('.password') %>
            <%= error_message(@user, :password) %>
            <%= f.password_field :password, :class => "short" %>
          </div>

          <div class="field margin50">
            <%= f.button t('.save_changes'), :type => 'submit', :class => "red round button bigger save" %>
          </div>
        </div>
      <% end %>
    </div>

    <%= form_for(@user) do |f| %>
      <div class="organization">
        
        <%= f.fields_for @user.organization do |ff| %>

          <div class="form_wrapper">
            <div class="organization_name field">
              <%= error_message(@user, :name) %>
              <%= ff.label :name, t('.organization.name') %>
              <%= ff.text_field :name, :class => "med" %>
            </div>

            <div class="organization_website field margin">
              <%= error_message(@user, :website) %>
              <%= ff.label :website, t('.organization.website') %>
              <%= ff.text_field :website, :class => "short" %>
            </div>

            <div class="organization_type_id field short margin20">
              <%= error_message(@user, :type_id) %>
              <%= ff.label :type_id, t('.organization.type_id') %>
              <div class="select_wrapper">
                <%= ff.select :type_id, to_select_options(@organization_types), { :include_blank => true }, { 'data-placeholder' => "Not defined..." } %>
              </div>
            </div>

            <div class="organization_country_id field margin20 margin med">
              <%= error_message(@user, :country_id) %>
              <%= ff.label :country_id, t('.organization.country_id') %>
              <div class="select_wrapper">
                <%= ff.select :country_id, to_select_options(@countries), { :include_blank => true }, { 'data-placeholder' => "Not defined..." } %>
              </div>
            </div>

            <div class="organization_government_id field margin20">
              <%= error_message(@user, :government_id) %>
              <div class="block">
                <%= ff.label :government_id, t('.organization.government_id.title'), :class => "with_hint" %>
                <span class="hint"
                  data-title="<%= t('.organization.government_id.title') %>"
                  data-description="<%= t('.organization.government_id.desc') %>"
                  data-url="<%= t('.organization.government_id.url') %>"
                  data-examples="<%= t('.organization.government_id.examples') %>"></span>
              </div>
              <%= ff.text_field :government_id, :class => "short" %>
            </div>
          </div>

          <% if @user.organization.persisted? %>
            <section class="form_center border">
              <div class="form_wrapper">

                <div class="field long budget">
                  <div class="block">
                    <label class="with_hint"><%= t('.organization.budgets.title') %></label>
                    <span class="hint"
                      data-title="<%= t('.organization.budgets.title') %>"
                      data-description="<%= t('.organization.budgets.desc') %>"
                      data-url="<%= t('.organization.budgets.url') %>"
                      data-examples="<%= t('.organization.budgets.examples') %>"></span>
                  </div>
                  <div class="subform">
                    <ul class="results">
                      <%= list_for_collection(@user.organization.budgets) do %>
                        <li class="empty"><%= t('.organization.budgets.no_records') %></li>
                      <% end %>
                    </ul>
                    <div class="form"></div>
                    <%= link_to t('.organization.add'), new_user_organization_budget_path(@user, @user.organization), :class => 'round grey button upper add_form margin10' %>
                  </div>
                </div>

                <div class="field long documents margin50">
                  <div class="block">
                    <label class="with_hint"><%= t('.organization.documents.title') %></label>
                    <span class="hint"
                      data-title="<%= t('.organization.documents.title') %>"
                      data-description="<%= t('.organization.documents.desc') %>"
                      data-url="<%= t('.organization.documents.url') %>"
                      data-examples="<%= t('.organization.documents.examples') %>"></span>
                  </div>
                  <div class="subform">
                    <ul class="results">
                      <%= list_for_collection(@user.organization.documents) do %>
                        <li class="empty"><%= t('.organization.documents.no_records') %></li>
                      <% end %>
                    </ul>
                    <div class="form"></div>
                    <%= link_to t('.organization.add'), new_user_organization_document_path(@user, @user.organization), :class => 'round grey button upper add_form margin10' %>
                  </div>
                </div>

              </div>
            </section>

            <section class="form_center border">
              <div class="form_wrapper">
                <div class="field long administrators">
                  <div class="block"> 
                    <label class="with_hint"><%= t('.organization.administrators.title') %></label>
                    <span class="hint"
                      data-title="<%= t('.organization.administrators.title') %>"
                      data-description="<%= t('.organization.administrators.desc') %>"
                      data-url="<%= t('.organization.administrators.url') %>"
                      data-examples="<%= t('.organization.administrators.examples') %>"></span>
                  </div>
                  <div class="subform">
                    <ul class="results">
                      <%= list_for_collection(@user.organization.administrators) do %>
                        <li class="empty"><%= t('.organization.administrators.no_records') %></li>
                      <% end %>
                    </ul>
                    <div class="form"></div>
                    <%= link_to t('.organization.add'), new_user_organization_administrator_path(@user, @user.organization), :class => 'round grey button upper add_form margin10' %>
                  </div>
                </div>
              </div>
            </section>
          <% end %>
        <% end %>

        <div class="form_wrapper">
          <div class="field block margin50">
            <%= f.submit t('.save_changes'), :class => "red round bigger save button" %>
          </div>
        </div>
        
      </div>
    <% end %>
  </section>
</div>





