<% content_for(:page_title) do %>OpenAidRegister | <%= current_user.name %><% end %>

<script type="text/javascript">
  <% if flash[:info] %>var newProjectFormPath = '<%= flash[:info] %>'<% end %>;
</script>

<%= render :partial => 'header' %>

<!-- edit tools -->
<div class="inner">
  <section class="compact borders tools">
    <%= link_to t('users.publish.add_new_project'), new_project_path, :class => 'left button uppercase round red small new' %>
    <div class="publishing-tools right">
      <label class="small dark left"><%= t('users.publish.publishing_tools') %></label>
      <%= link_to t('users.publish.export'), '#', :class => 'button uppercase round white small left export' %>
      <%= link_to t('users.publish.share'), user_projects_path(current_user), :class => 'button uppercase round white small left share' %>
    </div>
  </section>
</div>

<!-- map -->
<section class="top bottom map">
  <div id="projects_map"></div>
  <div id="zoom"><a class="zoom_in">+</a><a class="zoom_out">-</a></div>
  <div class="empty_map">
    <p class="darker center bold bigger left"><%= t('users.map.empty.title') %></p>
    <p class="center left margin15"><%= link_to t('users.map.empty.button'), new_project_path, :class => "button red round new" %></p>
  </div>
</section>

<!-- list -->
<div class="inner list">
  <section class="borders bottom compact list_filters">
    <form class="search-form">
      <div class="field med">
        <input type="text" placeholder="<%= t('users.filters.search', :projects => @projects.size) %>"id="projects_search" />
      </div>
      <div class="right filter_selector">
        <label class="dark small left"><%= t('users.filters.label') %></label>
        <a href="#" class="selected uppercase button round white small left"><%= t('users.filters.all') %></a>
        <a href="#ongoing" class="button uppercase round white small left"><%= t('users.filters.ongoing') %></a>
        <a href="#past" class="button uppercase round white small left"><%= t('users.filters.past') %></a>
      </div>
    </form>
  </section>
  <section class="borders bottom list">
    <ul id="projects_list">
      <% @projects.each do |project| %>
        <li id="project_<%= project.cartodb_id %>" data-position="<%= project.coords %>">
          <p class="name"><%= link_to project.name, edit_project_path(project) %></p>
          <p class="status <%= project.state %>"><%= project.state %></p>
        </li>
      <% end %>
    </ul>
  </section>
</div>

<%= render :partial => 'layouts/footer' %>
