<header>
  <h1 class="left"><%= link_to t('title_for_html'), "/" %></h1>
  <nav class="right">
    <%= link_to t('header.home'),           "#", :class => 'upper bold small' %>
    <%= link_to t('header.organizations'),  "#", :class => 'upper bold small' %>
    <%= link_to t('header.blog'),           "#", :class => 'upper bold small' %>
    <%= link_to t('header.about'),          "#", :class => 'upper bold small' %>
    <%= link_to t('header.sign_in'),        new_session_path, :class => 'upper bold small round' %>
  </nav>
</header>
