<%= form_for [@project, @organization], :html => {:class => "#{action_name}-organization organization_form"} do |f| %>
  <%= f.hidden_field :project_id %>

  <div class="field name">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name %>
  </div>

  <div class="field role-id">
    <%= f.label :role_id, t('.role_id') %>
    <%= f.select :role_id, to_select_options(@roles) %>
  </div>

  <div class="field">
    <%= f.submit t('.add') %>
    <%= link_to t('.cancel'), '#' %>
  </div>

<% end %>
