<%= form_for [@project, @organization], :html => {:class => "#{action_name}-organization organization_form"} do |f| %>
  <%= f.hidden_field :project_id %>

  <div class="field name">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name %>
  </div>

  <div class="field role-id">
    <%= f.label :role_id, t('.role_id') %>
    <%= f.select :role_id, to_select_options(@roles) %>
  </div>

  <div class="field long margin20">
    <%= f.submit t('.add'), :class => "left button round upper red" %>
    <%= link_to t('.cancel'), '#cancel', :class => "right margin15 cancel_subform" %>
  </div>

<% end %>
