<%= form_for @record_for_form, :multipart => true, :html => {:class => "#{action_name}-document documents_form"} do |f| %>

  <div class="field file">
    <%= f.label :file, t('.file') %>
    <%= f.file_field :file %>
  </div>

  <div class="field type-id">
    <%= f.label :type_id, t('.type_id') %>
    <%= f.select :type_id, to_select_options(@types) %>
  </div>

  <div class="field long margin20">
    <%= f.submit t('.add'), :class => "left button round upper red" %>
    <%= link_to t('.cancel'), '#cancel', :class => "right margin15 cancel_subform" %>
  </div>

<% end %>
