  <%= form_for @project, :html => {:class => 'new_basic'} do |f| %>

    <%= f.hidden_field :user_id %>

    <div class="form_wrapper">
      <div class="field name long">
        <div class="block">
          <%= f.label :name, t('.name'), :class => "with_hint" %>
          <span class="hint"
            data-title="<%= t('projects.help.project_name.title') %>"
            data-description="<%= t('projects.help.project_name.desc') %>"
            data-url="<%= t('projects.help.project_name.url') %>"
            data-examples="<%= t('projects.help.project_name.examples') %>"></span>
        </div>
        <%= f.text_field :name, :class => "long" %>
      </div>

      <div class="field id_in_organization long margin20">
        <div class="block">
          <%= f.label :id_in_organization, t('.id_in_organization'), :class => "with_hint" %>
          <span class="hint"
            data-title="<%= t('projects.help.project_id.title') %>"
            data-description="<%= t('projects.help.project_id.desc') %>"
            data-url="<%= t('projects.help.project_id.url') %>"
            data-examples="<%= t('projects.help.project_id.examples') %>"></span>
        </div>
        <%= f.text_field :id_in_organization, :class => "short" %>
      </div>

      <div class="field description long margin20">
        <%= f.label :description, t('.description') %>
        <%= f.text_area :description %>
      </div>

      <div class="field organization_role med margin20">
        <%= f.label :organization_role, t('.organization_role') %>
        <div class="select_wrapper">
          <%= f.select :organization_role, to_select_options(@organization_roles), { :include_blank => 'Not specified' }, { 'data-placeholder' => "Not defined..." } %>
        </div>
      </div>

      <div class="field language margin short margin20">
        <%= f.label :language, t('.language') %>
        <div class="select_wrapper">
          <%= f.select :language, to_select_options(@languages) %>
        </div>
      </div>

      <div class="field sector long margin20">
        <%= f.label :sector, t('.sector') %>
        <div class="grey_wrapper">
          <div class="select_wrapper">
            <div class="column">
              <%= select_tag :sector, options_from_collection_for_select(@sectors, 'id', 'name'),       { :include_blank => 'Not specified' , 'data-placeholder' => "Sector..." } %>
              <span class="sptor"></span>
            </div>
            <div class="column">
              <%= select_tag :subsector, options_from_collection_for_select_with_attributes(@subsectors, 'cartodb_id', 'name', :'data-sector-id' => 'sector_id'), { :include_blank => 'Not specified', 'data-placeholder' => "Subsector..." } %>
            </div>
          </div>
          <%= f.button t('.add_button'), :class => "round grey right add" %>
        </div>
        <%= f.select :sectors_list, @project.sectors_list, {:include_blank => false}, { :multiple => true, :id => 'sectors_list' } %>
      </div>

      <div class="field start_date long margin20">
        <%= f.label(:start_date) do %>
          <%= t('.start_end_date') %> <em class="light">(MM/DD/YYYY)</em>
        <% end %>

        <div class="select_wrapper">
          <div class="column">
            <%= f.text_field :start_date, :class => 'short inner_input' %>
            <span class="sptor"></span>
          </div>
          <div class="column">
            <%= f.text_field :end_date, :class => 'short inner_input' %>
          </div>
        </div>
      </div>

      <div class="field budget short margin20">
        <%= f.label :budget, t('.budget') %>
        <div class="select_wrapper">
          <div class="column">
            <%= f.text_field :budget, :class => 'tiny inner_input' %>
            <span class="sptor"></span>
          </div>
          <div class="column">
            <%= f.select :budget_currency, to_select_options(@currencies), :style => "width:30px" %>
          </div>
        </div>
      </div>
    </div>

    <div class="field locations margin20">
      <div class="form_wrapper">
        <%= f.label :locations, t('.locations') %>
        <p class="small light right margin5"><%= t('.location.desc') %></p>
      </div>
      <div class="form">
        <input id="geocomplete" type="text" placeholder="<%= t('.location.geocomplete') %>" />
        <input type="submit" value=""/>
      </div>
      <div id="locations_map"></div>
      <input type="hidden" id="location" />
      <%= f.select :locations_list, @project.locations_list, {:include_blank => false}, { :multiple => true, :id => 'locations_list' } %>
    </div>

    <div class="form_wrapper">
      <div class="field url long margin20">
        <%= f.label :url, t('.url') %>
        <%= f.text_field :url, :class => "med" %>
      </div>

      <div class="field contact_person long margin20">
        <div class="block">
          <%= f.label :contact_person, t('.contact_person.title'), :class => "with_hint" %>
          <p class="small light right margin5 you"><%= link_to t('.contact_person.question'), '#you?' %></p>
        </div>

        <div class="select_wrapper">
          <span class="light"><%= t('.you') %></span>
          <%= link_to t('.someone_different'), '#change', :class => "different right" %>
        </div>

        <div class="contact_form">
          <div class="field">
            <label><%= t('.contact_person.name') %></label>
            <input type="text" id="contact_person_name" value="<%= current_user.name %>" />
          </div>
          <div class="field margin">
            <label><%= t('.contact_person.email') %></label>
            <input type="text" id="contact_person_email" value="<%= current_user.email %>" />
          </div>
        </div>
      </div>

      <div class="field long margin40">
        <%= link_to t('.cancel'), '#', :class => "margin15 left cancel" %>
        <%= f.submit t('.save'), :class => "button round red right bigger" %>
      </div>
    </div>
  <% end %>
