<script type="text/javascript">
  var new_project = <%= json_for_new_project(@project) %>;
</script>
<%= form_for @project do |f| %>
  <div class="form_wrapper border">

    <div class="field long transactions">
      <label><%= t('.transactions.title') %></label>
      <div class="subform">
        <ul class="results">
          <li class="empty"><%= t('.transactions.no_records') %></li>
        </ul>
        <div class="form"></div>
        <%= link_to t('.transactions.add'), new_project_transaction_path(@project), :class => 'round grey button upper add_form margin10' %>
      </div>
    </div>

    <div class="field long involved-organizations margin50">
      <label><%= t('.organizations.title') %></label>
      <div class="subform">
        <ul class="results">
          <li class="empty"><%= t('.organizations.no_records') %></li>
        </ul>
        <div class="form"></div>
        <%= link_to t('.involved_organizations.add'), new_project_external_organization_path(@project), :class => 'round grey button upper add_form margin10' %>
      </div>
    </div>

    <div class="field long related_documents margin50">
      <label><%= t('.related_documents.title') %></label>
      <div class="subform">
        <ul class="results">
          <li class="empty"><%= t('.related_documents.no_records') %></li>
        </ul>
        <div class="form"></div>
        <%= link_to t('.related_documents.add'), new_project_document_path(@project), :class => 'round grey button upper add_form margin10' %>
      </div>
    </div>

    <div class="field long project-results margin50">
      <label><%= t('.project_results.title') %></label>
      <div class="subform">
        <ul class="results">
          <li class="empty"><%= t('.project_results.no_records') %></li>
        </ul>
        <div class="form"></div>
        <%= link_to t('.project_results.add'), new_project_project_result_path(@project), :class => 'round grey button upper add_form margin10' %>
      </div>
    </div>
  </div>


  <div class="form_wrapper margin50">
    <h3 class="upper"><%= t('.organization_information.title') %></h3>

    <div class="field collaboration_type long margin40">
      <%= f.label :collaboration_type, t('.organization_information.collaboration_type') %>
      <div class="select_wrapper med">
        <%= f.select :collaboration_type, to_select_options(@collaboration_types), { :include_blank => 'Not specified' } %>
      </div>
    </div>

    <div class="field tied_status long margin25">
      <fieldset>
        <legend><%= t('.organization_information.tied_status.legend') %></legend>

        <div class="choices">
          <div class="radio">
            <%= f.radio_button :tied_status, 1 %>
            <%= f.label :tied_status_1, t('.organization_information.tied_status.unknown') %>
          </div>

          <div class="radio">
            <%= f.radio_button :tied_status, 2 %>
            <%= f.label :tied_status_2, t('.organization_information.tied_status.partially_tied') %>
          </div>

          <div class="radio">
            <%= f.radio_button :tied_status, 3 %>
            <%= f.label :tied_status_3, t('.organization_information.tied_status.tied') %>
          </div>

          <div class="radio">
            <%= f.radio_button :tied_status, 4 %>
            <%= f.label :tied_status_4, t('.organization_information.tied_status.untied') %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="field aid_type long margin25">
      <%= f.label :aid_type, t('.organization_information.aid_type') %>
      <div class="select_wrapper med">
        <%= f.select :aid_type, to_select_options(@aid_types), { :include_blank => 'Not specified' } %>
      </div>
    </div>

    <div class="field flow_type long margin25">
      <%= f.label :flow_type, t('.organization_information.flow_type') %>
      <div class="select_wrapper med">
        <%= f.select :flow_type, to_select_options(@flow_types), { :include_blank => 'Not specified' } %>
      </div>
    </div>

    <div class="field finance_type long margin25">
      <%= f.label :finance_type, t('.organization_information.finance_type') %>
      <div class="select_wrapper med">
        <%= f.select :finance_type, to_select_options(@finance_types), { :include_blank => 'Not specified'} %>
      </div>
    </div>

    <div class="field long margin50">
      <%= link_to t('.cancel'), '#', :class => "margin15 left" %>
      <%= f.submit t('.save_changes'), :class => "button round red bigger right" %>
    </div>
  </div>
<% end %>
