<%= form_for @project do |f| %>
  <section class="form_center">
    <ul>
      <li class="transactions">
        <h4><%= t('.transactions.title') %></h4>
        <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
        <div class="no-results"><%= t('.transactions.no_records') %></div>
        <%= link_to t('.transactions.add'), new_project_transaction_path(@project) %>
      </li>
      <li class="involved-organizations">
        <h4><%= t('.involved_organizations.title') %></h4>
        <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
        <div class="no-results"><%= t('.involved_organizations.no_records') %></div>
        <%= link_to t('.involved_organizations.add'), new_project_external_organization_path(@project) %>
      </li>
      <li class="related-documents">
        <h4><%= t('.related_documents.title') %></h4>
        <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
        <div class="no-results"><%= t('.related_documents.no_records') %></div>
        <%= link_to t('.related_documents.add'), new_project_document_path(@project) %>
      </li>
      <li class="project-results">
        <h4><%= t('.project_results.title') %></h4>
        <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
        <div class="no-results"><%= t('.project_results.no_records') %></div>
        <%= link_to t('.project_results.add'), new_project_project_result_path(@project) %>
      </li>
    </ul>
  </section>


  <div class="form_wrapper">
    <h3 class="upper"><%= t('.organization_information.title') %></h3>

    <div class="field collaboration_type long margin50">
      <%= f.label :collaboration_type, t('.organization_information.collaboration_type') %>
      <div class="select_wrapper med">
        <%= f.select :collaboration_type, to_select_options(@collaboration_types), { :include_blank => 'Not specified' } %>
      </div>
    </div>

    <div class="field tied_status long margin25">
      <fieldset>
        <legend><%= t('.organization_information.tied_status.legend') %></legend>

        <div class="choices">
          <div class="radio">
            <%= f.radio_button :tied_status, 1 %>
            <%= link_to '1', '#radio', :class => "radio" %>
            <%= f.label :tied_status_1, t('.organization_information.tied_status.unknown') %>
          </div>

          <div class="radio">
            <%= f.radio_button :tied_status, 2 %>
            <%= link_to '2', '#radio', :class => "radio" %>
            <%= f.label :tied_status_2, t('.organization_information.tied_status.partially_tied') %>
          </div>

          <div class="radio">
            <%= f.radio_button :tied_status, 3 %>
            <%= link_to '3', '#radio', :class => "radio" %>
            <%= f.label :tied_status_3, t('.organization_information.tied_status.tied') %>
          </div>

          <div class="radio">
            <%= f.radio_button :tied_status, 4 %>
            <%= link_to '4', '#radio', :class => "radio" %>
            <%= f.label :tied_status_4, t('.organization_information.tied_status.untied') %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="field aid_type long margin25">
      <%= f.label :aid_type, t('.organization_information.aid_type') %>
      <div class="select_wrapper med">
        <%= f.select :aid_type, to_select_options(@aid_types), { :include_blank => 'Not specified' } %>
      </div>
    </div>

    <div class="field flow_type long margin25">
      <%= f.label :flow_type, t('.organization_information.flow_type') %>
      <div class="select_wrapper med">
        <%= f.select :flow_type, to_select_options(@flow_types), { :include_blank => 'Not specified' } %>
      </div>
    </div>

    <div class="field finance_type long margin25">
      <%= f.label :finance_type, t('.organization_information.finance_type') %>
      <div class="select_wrapper med">
        <%= f.select :finance_type, to_select_options(@finance_types), { :include_blank => 'Not specified'} %>
      </div>
    </div>

    <div class="field long margin50">
      <%= link_to t('.cancel'), '#', :class => "margin15 left" %>
      <%= f.submit t('.save_changes'), :class => "button round red right" %>
    </div>
  </div>
<% end %>
