<%= form_for :project do |f| %>

  <section class="borders grey_section">
    <div class="center">
      <h4 class="dark"><%= t('.header.congrats') %></h4>
      <p class="margin5"><%= t('.header.basic_information') %></p>
    </div>
    <div class="center margin40">
      <%= link_to t('.header.complete_information'), "", :class => "button round red" %>
      <span><%= t('.header.or') %></span>
      <%= link_to t('.header.add_another_project'), "", :class => "button round light-grey uppercase" %>
    </div>
  </section>


  <section class="form_center">
  <ul>
    <li class="transactions">
      <h4><%= t('.transactions.title') %></h4>
      <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
      <div class="no-results"><%= t('.transactions.no_records') %></div>
      <%= link_to t('.transactions.add'), new_transaction_path %>
    </li>
    <li class="involved-organizations">
      <h4><%= t('.involved_organizations.title') %></h4>
      <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
      <div class="no-results"><%= t('.involved_organizations.no_records') %></div>
      <%= link_to t('.involved_organizations.add'), new_organization_path %>
    </li>
    <li class="related-documents">
      <h4><%= t('.related_documents.title') %></h4>
      <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
      <div class="no-results"><%= t('.related_documents.no_records') %></div>
      <%= link_to t('.related_documents.add'), new_document_path %>
    </li>
    <li class="project-results">
      <h4><%= t('.project_results.title') %></h4>
      <a class="hint" href="#hint" data-hint="Wadus" tabIndex="-1"></a>
      <div class="no-results"><%= t('.project_results.no_records') %></div>
      <%= link_to t('.project_results.add'), new_project_result_path %>
    </li>
  </ul>
  </section>

<% end %>
