<% content_for(:page_title) do %>OpenAidRegister | New project<% end %>

<%= content_for(:js) do %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places', :application, :new %>
<% end %>

<%= content_for(:css) do %>
  <%= stylesheet_link_tag :application, 'https://www.google.com/cse/style/look/default.css', :new, :media => 'all' %>
<% end %>


<section class="borders">
  <div class="inner">
    <h3 class="center upper"><span class="title_line"></span><%= t('.info.title') %><span class="title_line"></span></h1>
  </div>
</section>

<%= render 'form_advanced' %>
