<?xml version="1.0" encoding="UTF-8"?>
<iati-activities xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" generated-datetime="<%= Time.zone.now.to_datetime %>" version="1.01">

<% @projects.each do |project| %>
    <iati-activity last-updated-datetime="<%= project.updated_at %>" default-currency="<%= project.budget_currency.try(:name) %>" xml:lang="<%= project.language.try(:name) %>">

      <reporting-org type="<%= @organization.type_id %>" ref="<%= @organization.government_id %>"><%= @organization.try(:name) %></reporting-org>
      <iati-identifier><%= [@organization.country, @organization.government_id, project.id_in_organization].compact.join('-') %></iati-identifier>

      <title><%= project.try(:name) %></title>

      <% if project.description.present? %>
        <description><%= project.description %></description>
      <% end %>

      <% if project.start_date.present? %>
        <activity-status code="<%= project.state.first %>"><%= project.state.last %></activity-status>
        <activity-date type="start-actual" iso-date="<%= l project.start_date, :format => :dashed %>">
          <%= l project.start_date, :format => :dashed %>
        </activity-date>
      <% end %>

      <% if project.end_date.present? %>
        <activity-date type="end-planned" iso-date="<%= l project.end_date, :format => :dashed %>">
          <%= l project.end_date, :format => :dashed %>
        </activity-date>
      <% end %>

      <participating-org role="<%= project.organization_role.try(:name) %>" type="<%= @organization.type_id %>" ref="<%= [@organization.country, @organization.government_id].compact.join('-') %>">
        <%= @organization.try(:name) %>
      </participating-org>

      <% @external_organizations[project.id].each do |external_organization| %>
        <participating-org role="<%= external_organization.role.name %>" type="" ref="">
          <%= external_organization.name %>
        </participating-org>
      <% end %>

      <% @related_documentation[project.id].each do |related_document| %>
        <document-link url="<%= related_document.file.url %>" format="" xml:lang="">
          <category code="<%= related_document.type.name %>"></category>
        </document-link>
      <% end %>

      <% if project.url.present? %>
        <activity-website><%= project.url %></activity-website>
      <% end %>

      <% @sectors[project.id].each do |sector| %>
        <sector vocabulary="DAC" code="<%= sector.code %>">
          <%= sector.name %>
        </sector>
      <% end %>

      <% if project.id_in_organization.present? %>
        <related-activity type="1" ref="<%= project.id_in_organization %>"></related-activity>
      <% end %>

      <% if false %>
        <% if project.other_iati_project_identifier.blank? %>
          <other-identifier owner-ref="" owner-name=""><%= project.other_iati_project_identifier %></other-identifier>
        <% end %>
      <% end %>

  <% if project.budget.preset? %>
    <budget>
      <value currency="<%= project.budget_currency.name %>" value-date="<%= format_date_dash(project.start_date) %>"><%= project.budget.to_i %></value>
    </budget>
  <% end %>

  <% if false %>
  <% @geo_projects.each do |geo_project| %>
    <% if geo_project[:project_id] == project.cartodb_id %>
      <% if geo_project[:level_detail] == "country"%>
        <recipient-country code="<%= geo_project[:country] %>">
          <%= geo_project[:country_extended] %>
        </recipient-country>

      <% elsif geo_project[:level_detail] == "region" %>
        <recipient-country code="<%= geo_project[:country] %>">
          <%= geo_project[:country_extended] %>
        </recipient-country>
        <location><location-type code="ADM1"><%= geo_project[:adm1] %></location-type></location>

      <% elsif geo_project[:level_detail] == "city" %>
        <recipient-country code="<%= geo_project[:country] %>">
          <%= geo_project[:country_extended] %>
        </recipient-country>

        <location>
          <location-type code="ADM1"><%= geo_project[:adm1] %></location-type>
          <location-type code="ADM2"><%= geo_project[:adm2] %></location-type>
        </location>

      <% else %>
        <location>
          <coordinates latitude="<%= geo_project[:latlng].split(/ /)[1] %>" longitude="<%= geo_project[:latlng].split(/ /)[0] %>" precision="2"/>
        </location>
      <% end %>
    <% end %>
  <% end %>

  <% if project.result_title.present? %>
    <result type="output">
      <title><%=project.result_title %></title>
      <% if !project.result_description.blank? %>
        <description><%= project.result_description %></description>
      <% end %>
    </result>
  <% end %>

  <% if !project.contact_name.blank? || !project.contact_email.blank? %>
    <contact-info>
      <% if !project.contact_name.blank? %>
        <person-name><%= project.contact_name %></person-name>
      <% end %>

      <% if !project.contact_email.blank? %>
        <email><%= project.contact_email %></email>
      <% end %>
    </contact-info>
  <% end %>

  <% @transaction_list.each do |transaction| -%>
    <% if transaction[:project_id] == project.cartodb_id %>
      <transaction>
        <transaction-type code="<%=transaction[:transaction_type]%>">
          <%=transaction_type_by_name (transaction[:transaction_type]) %>
        </transaction-type>

        <value currency="<%= currency_by_name (transaction[:transaction_currency]) %>" value-date="<%= format_date_dash(transaction[:transaction_date]) %>">
          <%= transaction[:transaction_value].to_i %>
        </value>

        <transaction-date iso-date="<%= format_date_dash(transaction[:transaction_date]) %>"/>
        <% if transaction[:provider_id].present? || transaction[:provider_activity_id].present? || transaction[:provider_name].present?  %>
          <provider-org ref="<%= transaction[:provider_id] %>" provider-activity-id="<%= transaction[:provider_activity_id] %>">
            <%= transaction[:provider_name] %>
          </provider-org>
        <% end %>

        <% if transaction[:receiver_id].present? || transaction[:receiver_activity_id].present? || transaction[:receiver_name].present?  %>
          <receiver-org ref="<%= transaction[:receiver_id] %>" receiver-activity-id="<%= transaction[:receiver_activity_id] %>">
            <%= transaction[:receiver_name] %>
          </receiver-org>
        <% end %>

        <% if transaction[:transaction_description].present? %>
          <description xml:lang="en"><%= transaction[:transaction_description] %></description>
        <% end %>
      </transaction>
    <% end -%>
  <% end -%>

  <% if !project.collaboration_type.blank? %>
    <collaboration-type code="<%= project.collaboration_type %>">
      <%= collaboration_type_by_id(project.collaboration_type) %>
    </collaboration-type>
  <% end %>

  <% if !project.aid_type.blank? %>
    <default-aid-type code="<%= project.aid_type %>">
      <%= aid_type_by_id (project.aid_type) %>
    </default-aid-type>
  <% end %>

  <% if !project.tied_status.blank? %>
    <default-tied-status code="<%= project.tied_status %>">
      <%= tied_status_by_id (project.tied_status) %>
    </default-tied-status>
  <% end %>

  <% if !project.flow_type.blank? %>
    <default-flow-type code="<%= project.flow_type %>">
      <%= flow_type_by_id (project.flow_type) %>
    </default-flow-type>
  <% end %>

  <% if !project.finance_type.blank? %>
    <default-finance-type code="<%= project.finance_type %>">
      <%= finance_type_by_id (project.finance_type) %>
    </default-finance-type>
  <% end %>

    <% end %>
</iati-activity>

  <% end %>
</iati-activities>
