<script type="text/javascript">
  var current_user = {
        name: '<%= current_user.name %>',
        email: '<%= current_user.email %>'
      }
    , projects
    , project;
</script>
<%= javascript_include_tag controller_name if request.xhr? %>
<%= stylesheet_link_tag controller_name, :media => 'all' if request.xhr? %>

<div class="form_inner">
  <section>
    <div>
      <h3 class="center upper"><span class="title_line"></span><%= t('.title') %><span class="title_line"></span></h3>
    </div>
  </section>

  <section class="grey_section">
    <div class="center">
      <h4 class="dark"><%= t('.info.title') %></h4>
      <p class="description margin5"><%= t('.info.description') %></p>
    </div>
  </section>

  <section>
    <%= render 'form_basic' %>
  </section>
</div>
