<li class="administrator">
  <%= form_for @user do |f| %>
    <%= f.fields_for @user.organization do |ff| %>
      <%= ff.fields_for administrator do |fff| %>
        <%= fff.hidden_field :cartodb_id %>
        <%= fff.hidden_field :name %>
        <%= fff.hidden_field :email %>
        <%= fff.hidden_field :password %>
      <% end %>
    <% end %>
  <% end %>
  <span class="email"><%= administrator.email %></span>
  <% if administrator.persisted? %>
    <%= button_to "x", administrator_path([@user, @user.organization, administrator]), :method =>:delete %>
  <% else %>
    <%= link_to '', '#', :id => 'remove' %>
  <% end %>
</li>
