<%= form_for [@project, @project_result], :html => {:class => "#{action_name}-project-result project_results_form"} do |f| %>
  <%= f.hidden_field :project_id %>

  <div class="field concept">
    <%= f.label :concept, t('.concept') %>
    <%= f.text_field :concept %>
    <p class="free-text"><%= t('.freetext_toggle_html', :link => link_to(t('.freetext_link'), '#')) %></p>
    <p class="tabbed-result"><%= t('.freetext_toggle_html', :link => link_to(t('.tabbed_result_link'), '#')) %></p>
  </div>

  <div class="field current">
    <%= f.label :current, t('.current') %>
    <%= f.text_field :current %>
  </div>

  <div class="field target">
    <%= f.label :target, t('.target') %>
    <%= f.text_field :target %>
  </div>

  <div class="field start_date">
    <%= f.label :start_date, t('.start_date') %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field end_date">
    <%= f.label :end_date, t('.end_date') %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field description">
    <%= f.label :description, t('.description') %>
    <%= f.text_field :description %>
  </div>

  <div class="field long margin20">
    <%= f.submit t('.add'), :class => "left button round upper red" %>
    <%= link_to t('.cancel'), '#cancel', :class => "right margin15 cancel_subform" %>
  </div>

<% end %>

