<footer >
  <div class="inner">
    <section class="padding">
      <div class="center margin">
        <%= link_to image_tag("logos/ny_law_school.png", :border=>0), "http://www.nyls.edu/", :target => "_blank" %>
        <%= link_to image_tag("logos/iati.png", :border=>0), "http://www.aidtransparency.net/", :target => "_blank" %>
      </div>
      <nav class="margin40 center">
        <%= link_to t('footer.nav.contact'), "#" %>
        &#8226;
        <%= link_to t('footer.nav.faq'), "#" %>
        &#8226;
        <%= link_to t('footer.nav.blog'), "#" %>
        &#8226;
        <%= link_to t('footer.nav.about'), "#" %>
        &#8226;
        <%= link_to t('footer.nav.terms'), "#" %>
      </nav>
    </section>
  </div>
</footer>