<footer >
  <div class="inner">
    <section class="padding">
      <div class="center margin">
        <%= link_to image_tag("logos/ny_law_school.png", :border=>0), "http://www.nyls.edu/", :target => "_blank" %>
        <%= link_to image_tag("logos/iati.png", :border=>0), "http://www.aidtransparency.net/", :target => "_blank", :class => "margin" %>
      </div>
      <nav class="margin40 center">
        <%= link_to t('footer.nav.contact'), "mailto:contact@openaidregister.org" %>
        &#8226;
        <%= link_to t('footer.nav.faq'), faq_path %>
        &#8226;
        <%= link_to t('footer.nav.blog'), 'http://blog.openaidregister.org' %>
        &#8226;
        <%= link_to t('footer.nav.about'), about_path %>
        &#8226;
        <%= link_to t('footer.nav.terms'), terms_path %>
      </nav>
    </section>
  </div>
</footer>