<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <title><%= yield :page_title %></title>
  <meta name="description" content="">
  <meta name = "viewport" content = "width = 1020">
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:400,700", :media => 'all' %>
  <%= stylesheet_link_tag "https://www.google.com/cse/style/look/default.css", :media => 'all' %>
  <%= stylesheet_link_tag :application,    :media => 'all' %>
  <%= stylesheet_link_tag controller_name, :media => 'all' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag controller_name %>
  <%= yield :extra_assets %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
